/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* CSS reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  display: block;
}

/* Global Styles */
body {
  background: #181824 url("./assets/images/bg-desktop-dark.jpg") no-repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles */
.todo__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

/* Header Styles */
.todo__header {
  display: flex;
  justify-content: space-between;
}

.todo__title {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 8px;
}

.todo {

  // Input For Adding a TODO
  &__add-todo {
    width: 100%;
    display: flex;
    gap: 15px;
    margin: 8px 0;
    padding: 12px;
    border-radius: 5px;
    background: var(--Navy-900)
  }

  &__add-btn {
    width: 20px;
    height: 20px;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    background: transparent;
    border: 1px solid var(--Gray-600);
    cursor: pointer;
  }

  &__add-input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
  }
}
